:root {
    --main-background-color: rgb(44, 44, 44);
    --main-form-color: rgb(49, 49, 49);
    --bg-logo:  url("../../assets/images/logo_bg_dark.svg");
    --nav-item-color: rgb(218, 218, 218);
    --nav-color: rgb(34, 34, 34);
    --nav-border-color: rgb(255, 255, 255);
    --main-font-color: white;
    --item-header-bg-color: rgb(34, 34, 34);
    --item-details-bg-color: rgb(77, 77, 77);
    --inactive-text-color: rgb(179, 179, 179);
}