:root {
    --main-background-color: rgb(44, 44, 44);
    --main-form-color: rgb(49, 49, 49);
    --bg-logo:  url("../../assets/images/logo_bg_dark.svg");
    --form-width: 415px;
    --nav-item-color: rgb(218, 218, 218);
    --nav-color: rgb(34, 34, 34);
    --nav-item-font-size: 3rem;
    --nav-border-color: rgb(255, 255, 255);
    --main-font-color: white;
}