:root {
    --item-header-size: 2rem;
    --item-param-size: 1rem;
    --form-width: 415px;
    --nav-item-font-size: 3rem;
}

body {
    background-color: var(--main-background-color);
    margin: 0px 0px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-font-color);
}

#background {
    width: 100vw;
    height: 100vh;
    background-image: var(--bg-logo);
    background-size: 200px;
    animation: pan 120s linear infinite;
    position: fixed;
    z-index: -1;
}

.no-select {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

#container {
    max-width: var(--form-width);
    min-height: 100vh;
    background-color: var(--main-form-color);
    margin: auto;
}

#main-nav {
    max-width: var(--form-width);
    text-align: center;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: var(--nav-color);

    border-bottom: 2px solid var(--nav-border-color);
}

#main-nav a {
    text-decoration: none;
    color: var(--nav-item-color);
}

#main-nav a span {
    font-size: var(--nav-item-font-size);
}

#items-container {
    width: 100%;
}

.item {
    width: 100%;
    /*border-top: 2px solid var(--main-font-color);*/
    /*border-bottom: 2px solid var(--main-font-color);*/
    margin: 0px 0px 40px 0px;
}

.item-name {
    width: 100%;
    /*border-bottom: 2px solid var(--main-font-color);*/
    font-size: var(--item-header-size);
    background-color: var(--item-header-bg-color);
}

.item-param {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: var(--item-header-size);
    background-color: var(--item-header-bg-color);
}

/**CUSTOM TEXT FIELDS**/
/**the box**/
.item-param-input,  .item-param-input-tall{
    background-color: var(--item-details-bg-color);
    border: none;
    color: var(--main-font-color);
    flex: 1;
    font-size: var(--item-param-size);
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.item-param-input {
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 50%;
}

.item-param-input-tall {
    height: 100px;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    align-items: start;
    white-space: normal;
    overflow-y: auto;
    word-break: break-word;
}

/**when the box is not selected and is empty**/
[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: var(--inactive-text-color);
    font-style: italic;
}

[contentEditable=true]:focus {
    cursor: text;
}
/**END CUSTOM TEXT FIELDS**/

.item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--item-details-bg-color);
}

.flex-col {
    flex-direction: row;
}

.no-flex {
    display: block;
}

#page-controller-container {
    width: var(--form-width);
    text-align: center;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: var(--nav-color);

    border-top: 2px solid var(--nav-border-color);
    position: fixed;
    bottom: 0px;
}

#page-controller-container a {
    text-decoration: none;
    color: var(--nav-item-color);
}

#page-controller-container a span {
    font-size: var(--nav-item-font-size);
}

input[type=checkbox] {
    width: 50%;
}

.hidden {
    display: none;
}